{% extends "Layouts/base.html"%}

{% block titulo %} Crear Proyecto {% endblock %}

{% block contenido %}
<div class="card-body">
  <h4 class="card-title">Crear un Proyecto</h4>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus officiis dignissimos minima fugit laboriosam? Ducimus maiores molestias dolor rerum odio. Dignissimos iure modi dolor alias distinctio nesciunt sapiente saepe harum?</p>
  </div>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
{% endblock %}