<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>

  <div class="card-body">
    <h4 class="card-title">About</h4>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestiae explicabo iure laboriosam consectetur. Unde aut, ad rem, in provident asperiores minima possimus vel repellendus ab dolorum, cum pariatur perspiciatis corrupti distinctio! Perferendis, porro temporibus? Minus debitis labore aperiam. Facilis ipsa alias ratione, impedit, quam esse sint temporibus eligendi atque possimus sit rem modi debitis? Molestias minus est magnam eligendi nihil, velit ipsam inventore ad labore nobis fugiat tempora ullam, quibusdam at libero quam hic cupiditate, delectus ducimus et? Earum, delectus similique! Labore harum, accusantium ut nesciunt voluptate mollitia sint ab consectetur itaque, quae voluptatem maiores blanditiis alias? Rerum, molestias?</p>
    </div>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>