{% extends "Layouts/base.html"%}
{% block titulo %}Task{% endblock %}
{% block contenido %}
<div class="card-body">
  {# TODO: Este es un comentario #}
  <p>
    {% for task in tasks %}
    <h1 class="card-title">Task {{ task.id}}</h1>
    <p>
      {{ task.nombre}}
    </p>
  <p>
    {{ task.descripcion}}
  </p>
    <p>
      {{ task.fecha}}
    </p>
    <p>
      {{ task.estado}}
    </p>
    {% if task.hecho == False %}
    <p> Tarea Pendiente</p>
    {% else %}
    <p> Tarea Realizada</p>
    {% endif %}
    
    {% endfor %}
  </p>
  </div>
{% endblock %}